In [1]:
# a = "apssdc,prasanna,1429,2422,raj,gopi,balu,sdc"

names = []
numbers = []

### Tuples
- What is tuple?
    - a tuple is sequence of immutable python objects.
- What is immutable?
    - can't modify data
- tuple is denoted with () or tuple()

In [2]:
tuple()

()

In [5]:
a= () # empty tuple

In [4]:
type(a)

tuple

In [6]:
a = ("ABC","abc","ABC","ABC")

In [7]:
print(a)

('ABC', 'abc', 'ABC', 'ABC')

In [9]:
a[0:3]

('ABC', 'abc', 'ABC')

In [10]:
a[::-1] # Reverse tuple

('ABC', 'ABC', 'abc', 'ABC')

In [11]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [13]:
# Count()
a.count('abc')

1

In [14]:
a.count('ABC')

3

In [16]:
a.index('abc')

1

In [17]:
# Example

s = ("Name","Age","Mobile")
print(s)

('Name', 'Age', 'Mobile')

In [19]:
b = list(s)
print(b)

['Name', 'Age', 'Mobile']

In [20]:
b[2] = "Phone"
a=tuple(b)
print(a)

('Name', 'Age', 'Phone')

In [21]:
del a

In [22]:
a

NameError: name 'a' is not defined

### Dictinory

- its having key,value pair
- it is also mutable like list
- Denoted with {:},or dict()

In [24]:
s = {"name":"Prasannaraj","Department":"Engineering","Company":"APSSDC","Mobile":7897897897}
print(s)

{'name': 'Prasannaraj', 'Department': 'Engineering', 'Company': 'APSSDC', 'Mobile': 7897897897}

In [27]:
dict()

{}

In [28]:
type(s)

dict

In [29]:
s['SNO'] = 456

In [30]:
s

{'name': 'Prasannaraj',
 'Department': 'Engineering',
 'Company': 'APSSDC',
 'Mobile': 7897897897,
 'SNO': 456}

In [31]:
dir(s)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [32]:
s.keys()

dict_keys(['name', 'Department', 'Company', 'Mobile', 'SNO'])

In [33]:
s.values()

dict_values(['Prasannaraj', 'Engineering', 'APSSDC', 7897897897, 456])

In [34]:
s.items()

dict_items([('name', 'Prasannaraj'), ('Department', 'Engineering'), ('Company', 'APSSDC'), ('Mobile', 7897897897), ('SNO', 456)])

In [35]:
# pop() 
s.pop("SNO")
s

{'name': 'Prasannaraj',
 'Department': 'Engineering',
 'Company': 'APSSDC',
 'Mobile': 7897897897}

In [36]:
# popitem()
s.popitem()

('Mobile', 7897897897)

In [37]:
print(s)

{'name': 'Prasannaraj', 'Department': 'Engineering', 'Company': 'APSSDC'}

In [38]:
s.popitem()

('Company', 'APSSDC')

In [39]:
s

{'name': 'Prasannaraj', 'Department': 'Engineering'}

In [40]:
s.get("Department")

'Engineering'

In [41]:
s.get('name')

'Prasannaraj'

In [42]:
# clear()
print(s)

{'name': 'Prasannaraj', 'Department': 'Engineering'}

In [43]:
s.clear()

In [44]:
print(s)

{}

In [45]:
dir(s)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [46]:
# fromkeys()
# setdefault()
# update()

In [49]:
### Example 
d = {1:"ONE",2:"TWO",3:"THREE",4:"FOUR",5:"FOUR"}
print(d)

{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR', 5: 'FOUR'}

In [50]:
len(d)

5

In [52]:
# Updae()

a = {"Name":"Prasanna","Roll":2422,'Year':2000} # year:2021
a

{'Name': 'Prasanna', 'Roll': 2422, 'Year': 2000}

In [54]:
a.update({'Year':2021})
print(a)

{'Name': 'Prasanna', 'Roll': 2422, 'Year': 2021, 'year': 2021}

In [55]:
a['College'] = "Pragati"
print(a)

{'Name': 'Prasanna', 'Roll': 2422, 'Year': 2021, 'year': 2021, 'College': 'Pragati'}

In [56]:
print(a)

{'Name': 'Prasanna', 'Roll': 2422, 'Year': 2021, 'year': 2021, 'College': 'Pragati'}

In [66]:
for i in a.items():
    print(i)

('Name', 'Prasanna')
('Roll', 2422)
('Year', 2021)
('year', 2021)
('College', 'Pragati')

In [62]:
dic={"name":"xyz","rollno":123,"district":"chittor",'year':2020}
for i in dic:
    print(dic.get(i))

xyz
123
chittor
2020

In [67]:
# Copy()

print(a)

{'Name': 'Prasanna', 'Roll': 2422, 'Year': 2021, 'year': 2021, 'College': 'Pragati'}

In [68]:
copieddict = a.copy()
print(copieddict)

{'Name': 'Prasanna', 'Roll': 2422, 'Year': 2021, 'year': 2021, 'College': 'Pragati'}

In [69]:
print(a) # original Dict
print(copieddict) # Copied Dict

{'Name': 'Prasanna', 'Roll': 2422, 'Year': 2021, 'year': 2021, 'College': 'Pragati'}
{'Name': 'Prasanna', 'Roll': 2422, 'Year': 2021, 'year': 2021, 'College': 'Pragati'}

In [70]:
a[1] = ["ONE"]
a

{'Name': 'Prasanna',
 'Roll': 2422,
 'Year': 2021,
 'year': 2021,
 'College': 'Pragati',
 1: ['ONE']}

In [71]:
print(copieddict) # Copied Dict

{'Name': 'Prasanna', 'Roll': 2422, 'Year': 2021, 'year': 2021, 'College': 'Pragati'}

In [72]:
a

{'Name': 'Prasanna',
 'Roll': 2422,
 'Year': 2021,
 'year': 2021,
 'College': 'Pragati',
 1: ['ONE']}

In [73]:
a.pop("year")

2021

In [74]:
print(a)

{'Name': 'Prasanna', 'Roll': 2422, 'Year': 2021, 'College': 'Pragati', 1: ['ONE']}

In [82]:
for i in a:
    print(a.get(i))

Prasanna
2422
2021
Pragati
['ONE']

In [83]:
a

{'Name': 'Prasanna',
 'Roll': 2422,
 'Year': 2021,
 'College': 'Pragati',
 1: ['ONE']}

In [87]:
s = a.setdefault(1)
#print(s)

In [88]:
print(a)

{'Name': 'Prasanna', 'Roll': 2422, 'Year': 2021, 'College': 'Pragati', 1: ['ONE']}

In [90]:
# fromkeys 
b = ('a1','a2','a3')
c = 2422
mydict = dict.fromkeys(b,c)
print(mydict)

{'a1': 2422, 'a2': 2422, 'a3': 2422}